body {
  background-color: hsl(222, 26%, 31%);
  box-sizing: border-box;
  margin: 0;
}

.calculator {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -200px;
  border-radius: 10px;
}

.calculator > .screen {
  background-color: hsl(224, 36%, 15%);
  width: 100%;
  height: 4rem;
  border-radius: 10px;
  margin: 1rem 0;
}

.calculator > .keypad {
  padding: 15px;
  background-color: hsl(223, 31%, 20%);
  width: 100%;
  height: 20rem;
  border-radius: 10px;
  margin: 1rem 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.key {
  text-align: center;
  background-color: white;
  padding: .5em;
  border-radius: 5px;
}

.key-reset, .key-equals {
  grid-column: 1 / 3;
}
